<div class="border rounded-md p-4">
  <div>
    {% if product.featured_image %}
      <div class="overflow-hidden">
        <img
          src="{{ product.featured_image |  image_url: width:400  }}"
          class="w-full h-full object-cover hover:scale-105 transition-transform duration-500 rounded-md rounded-b-none "
          width=""
          height=""
          loading="lazy"
          alt="{{ product.title }}">
      </div>
    {% else %}
      {{ 'product-1' | placeholder_svg_tag: 'w-full h-full' }}
    {% endif %}

  </div>
  <div class="bg-violet-100 p-4 rounded-b-md">
    <h2 class="text-sm font-semibold">{{ product.title }}</h2>
    {% assign min_price = product.variants | map: 'price' | sort | first %}
    {% assign max_price = product.variants | map: 'price' | sort | last %}


    <h3 class="text-xl font-bold">
      {% if min_price == max_price %}
        <span class="price">{{ min_price | money }}</span>
      {% else %}
        <span class="price-range">{{ min_price | money }} - {{ max_price | money }}</span>
      {% endif %}
      <span class="text-sm line-through">{{ product.compare_at_price | money }}</span>
    </h3>
    <div class=" flex justify-center mt-2">
      {% if product.has_only_default_variant %}
        {% if section.settings.add_to_cart_type == 'form' %}
          <form
            class="w-full"
            method="post"
            action="/cart/add">
            <input
              type="hidden"
              name="id"
              value="{{ product.variants.first.id }}" />
            <input
              type="hidden"
              min="1"
              type="number"
              id="quantity"
              name="quantity"
              value="1" />
            <input
              type="submit"
              value="Add to cart"
              class="px-4 w-full cursor-pointer text-center py-2 bg-green-700 hover:bg-green-900 rounded-md text-white" />
          </form>
        {% elsif section.settings.add_to_cart_type == 'api' %}
          <button
            data-variant-id="{{ product.variants.first.id }}"
            data-product-card-id="{{product.id}}"
            class=" bg-violet-700 hover:bg-violet-900  text-white btn-full">Add to cart</button>
        {% endif %}

      {% else %}
        <div>
          <div class="mb-4">
            {%- for option in product.options_with_values -%}
              <div class="flex gap-2 flex-wrap">
                {{ option.name }}:
                {% for value in option.values %}
                  {%- if value.swatch.image -%}
                    <img
                      src="{{ value.swatch.image |  image_url: width:200  }}"
                      class="w-[30px] h-[30px] rounded-full"
                      width=""
                      height="">
                  {%- elsif value.swatch.color -%}
                    <span class="w-[20px] block h-[20px] rounded-full mr-2" style="background: {{value.swatch.color}};"></span>

                  {%- else -%}
                    <span class=" px-2 py-1 flex justify-center items-center border border-violet-800 capitalize">
                      {{ value.name }}</span>
                  {%- endif -%}
                {% endfor %}
              </div>
            {%- endfor -%}
          </div>
          <div>
            <a href="{{ product.url }}" class="px-4 block w-full text-center py-2 bg-gray-700 hover:bg-black capitalize rounded-md text-white">view details</a>
          </div>
        </div>
      {% endif %}

    </div>
  </div>
</div>