<!doctype html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }}
    <!-- Header hook for plugins -->
    {{ 'tailwind.css' | asset_url | stylesheet_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'application.css' | asset_url | stylesheet_tag }}

    {% if settings.favicon != blank %}
      <link
        rel="icon"
        ,
        type="image/png"
        ,
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {% endif %}

    <script src="{{ 'application.js' |  asset_url }}" defer></script>
  </head>

  {% comment %} #styles {% endcomment %}

  <body>
    {% sections 'header-group' %}
    <main role="main">
      {{ content_for_layout }}
    </main>
  </body>

  <script>
      document.addEventListener('DOMContentLoaded', () => {
    const productCardAddtoCart = () => {
      const addToCartBtn = document.querySelectorAll('[data-product-card-id]')
      
      addToCartBtn.forEach((btn) => {
        btn.addEventListener( 'click', (e) => {
          const productId = btn.getAttribute('data-variant-id')
          let formData = {
          'items': [{
            'id': productId,
            'quantity': 1
            }]
          };
          
          fetch(window.Shopify.routes.root + 'cart/add.js', {
            method: 'POST',
            headers: {
          'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
          })
          .then(response => {
            return response.json();
          })
          .catch((error) => {
            console.error('Error:', error);
          });
          
    
        })// 
      })
      
      
      
       }
    
       productCardAddtoCart()
    
      })
  </script>


</html>