{%- liquid
  assign border_bottom_class = ''
  if section.settings.header_border_bottom == true
    assign border_bottom_class = 'border-b-2'
  else
    assign border_bottom_class = ''
  endif
-%}

<header class="{{ border_bottom_class }}">
  <div class="relative bg-white">
    <div class="mx-auto px-4 sm:px-6">
      <div class="flex justify-center items-center py-6 md:justify-start md:space-x-10">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'logo' %}
              <div class="flex justify-start lg:flex-1 truncate">
                <a href="{{ routes.root_url }}">
                  <h1 class="text-xl font-bold truncate">
                    {% if settings.logo != blank %}
                      <img
                        src="{{ settings.logo |  image_url  }}"
                        width="{{ block.settings.logo_width }}"
                        height="">
                    {% else %}
                      {{ shop.name }}
                    {% endif %}
                  </h1>
                </a>
              </div>
            {% when 'nav' %}
              <nav class="hidden md:flex space-x-10 ">
                {% for link in block.settings.menu.links %}
                  {% if link.links.size > 0 %}
                    <div data-rotate-wrapper class="relative pareant-menu-item">
                      <button type="button" class="inline-flex items-center text-base text-gray-500 hover:text-gray-900">
                        <span>
                          {{ link.title }}
                        </span>
                        {% render 'add'
                          , class: 'font-semibold text-2xl h-6 w-6  leading-none  '
                          , attr: 'data-rotate-180' %}

                      </button>
                      <ul class="absolute left-0 top-[100%] child-menu-links ">
                        {% for childlink in link.links %}
                          <li class="mb-2  ">
                            <a class="child-menu-link" href="{{ childlink.url }}">{{ childlink.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% else %}
                    <div class="relative">
                      <a href="{{ link.url }}" class="text-base text-gray-500 hover:text-gray-900">{{ link.title }}</a>
                    </div>
                  {% endif %}
                {% endfor %}
              </nav>
            {% when 'account' %}
              <div class="hidden md:flex items-center justify-end md:flex-1 space-x-5">
                <div class="relative">
                  <a href="{{ routes.cart_url }}" class=" relative whitespace-nowrap text-base text-gray-500 hover:text-gray-900">
                    {% render 'shopping-bag'
                      , class: 'w-6 h-6' %}
                  </a>
                  <span id="header_cart_item_count" class="absolute -top-3 -right-2 w-5 h-5 font-bold rounded-full bg-red-700 flex justify-center items-center p-0 text-sm text-white">
                    {{ cart.item_count }}</span>
                </div>
                {% if shop.customer_accounts_enabled %}
                  <a href="{{ routes.account_login_url }}" class="badge-success badge-sm text-sm rounded-md">Login</a>
                  <a href="{{ routes.account_register_url }}" class="badge-error badge-sm text-sm rounded-md">Register</a>
                {% endif %}
              </div>
            {% else %}
              <div>header</div>
          {% endcase %}
        {% endfor %}
      <!-- STORE NAME / STORE LOGO -->


      <!-- NAVIGATION MENU -->


      {% comment %}  {% endcomment %}
      </div>
    </div>
  </div>
</header>
{% schema %}
  {
    "name": "header",
    "tag": "section",
    "settings": [
      {
        "type": "checkbox",
        "label": "Border bottom",
        "default": false,
        "id": "header_border_bottom"
      }
    ],
    "blocks": [
      {
        "type": "logo",
        "limit": 1,
        "name": "Logo",
        "settings": [
          {
            "type": "range",
            "id": "logo_width",
            "info": "Logo width",
            "label": "Logo Width",
            "min": 80,
            "max": 180,
            "step": 1,
            "default": 100
          }

        ]
      },
      {
        "type": "nav",
        "limit": 1,
        "name": "nav",
        "settings": [
          {
            "type": "link_list",
            "id": "menu",
            "default": "main-menu",
            "label": "Header Menu"
          }
        ]
      },
      {
        "type": "account",
        "limit": 1,
        "name": "account"
      }
    ],
    "presets": [
      {
        "name": "header"
      }
    ]
  }
{% endschema %}