
{%- assign selected_variant = product.selected_or_first_available_variant

-%}
<section>
  <div class="my_container">
    <div class="product_page_1">
      <div class="grid grid-cols-5 my-10 gap-8">
        {% comment %} #product media {% endcomment %}
        <div class="col-span-3 ">
          {% comment %} #feature media {% endcomment %}
          <div class="feature_media mb-4">
            {% render 'product-feature-media-template-1'
              , media: product.featured_media %}
          </div>
          {% comment %} # media loop {% endcomment %}
          <div class=" grid grid-cols-3 gap-2">
            {% for media in product.media %}

              {% render 'product-media-template-1'
                , media: media %}
            {% endfor %}
          </div>
        </div>
        <div class="col-span-2">
         {% comment %} #product blocks {% endcomment %}
          {% for block in section.blocks %}
            {% case block.type %}
              {% when '@app' %}
                {% render block %}
              {% when 'title' %}
                <div>
                  <h2 class="text-3xl">{{ product.title }}</h2>
                </div>
              {% when 'is_available' %}
                <div class="text-left">
                  {% if product.available %}
                    <p class="text-xs">Available</p>
                  {% endif %}
                </div>
              {% when 'category' %}
              <div>  category</div>
              {% when 'collections' %}
               <div> collections </div>
              {% when 'price' %}
                {% if product.has_only_default_variant %}
                   <div> {{ selected_variant.price }} </div>
                   {% else %}
                    <div id="variant_price" class="flex items-end gap-2">
                     
                      {% if product.price_min < product.price_max %}
                        <span class="text-2xl flex font-semibold">
                        {{ product.price_min | money }}{% render 'minus', class:'w-8' %}  {{ product.price_max | money }} 
                       </span>
                       {% else %}
                       <span class="text-2xl flex font-semibold">
                        {{ product.price_min | money }} 
                       </span>
                      {% endif %}
                      
                     {%- if product.compare_at_price -%}
                      <span class="line-through" >
                        {{ product.compare_at_price_max | money }}
                       </span>
                     {%- endif -%}
                    
                    </div>
                {% endif %}
              
            {% comment %} #variant selector {% endcomment %}
              {% when 'varaint_selector' %}
                <div>
                  {% if block.settings.variant_selector_type == 'select' %}
                    select type 
                  {% elsif block.settings.variant_selector_type == 'swatch' %}
                    swatch
                  {% endif %}

                </div>
                  {% comment %} #variant selector end {% endcomment %}
              {% when 'content' %}
                <div>content</div>
              {% when 'created_at' %}
                <div>created at</div>
              {% when 'option' %}
                <div>options</div>
              {% when 'options_by_name' %}
                <div>options by name</div>
              {% when 'options_with_values' %}
                <div>optins with values</div>
              {% when 'metafields' %}
                <div> metafields</div>
              {% when 'tags' %}
                <div>tags</div>
                
              {% else %}
                <div></div>
            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Product template 1",
    "tag": "section",
    "settings": [],
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "title",
        "name":"Product title",
        "limit": 1
      },
      {
        "type": "is_available",
        "name":"Is product available",
        "limit": 1
      },
      {
        "type": "category",
        "name":"Product category",
        "limit": 1
      },
      {
        "type": "collections",
        "name":"collections product have",
        "limit": 1
      },
      {
        "type": "price",
        "name":"Product Price",
        "limit": 1
      },
      {
        "type": "varaint_selector",
        "name":"Variant Selector",
        "settings": [
          {
            "type": "select",
            "id": "variant_selector_type",
            "label": "Variant selector type",
            "default":"select",
            "options": [
              {
                "label": "Select type",
                "value": "select"
              },
              {
                "label": "Swatch type",
                "value": "swatch"
              }
            ]
          }
        ]
      },
      {
        "type": "content",
        "name":"Product content",
        "limit": 1
      },
      {
        "type": "created_at",
        "limit": 1,
        "name": "Product created at"
      },
      {
        "type": "option",
        "name":"Option name",
        "limit": 1
      },
      {
        "type": "options_by_name",
        "name":"Option by name",
        "limit": 1
      },
      {
        "type": "options_with_values",
        "name":"Options with values",
        "limit": 1
      },
      {
        "type": "metafields",
        "name":"Metafields",
        "limit": 1
      },
      {
        "type": "tags",
        "name":"Product tags",
        "limit": 1
      }

    ],
    "presets": [
      {
        "name": "Product template 1",
        "settings": {}
      }
    ]
  }
{% endschema %}